.our-team
{
    text-align: center;
    color: #2E2F42;
    font-size: 36px;
    line-height: 1.1;
}

.images-team
{

}

.name-team
{
    color: #2E2F42;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
}

.position-team
{
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}